*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
}

.timer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 35vh;
    background-color: ghostwhite;
    border-radius: 20px;
}

h1{
    color: darkslateblue;
}

#counter{
    color: black;
    font-size: 4rem;
    margin-bottom: 50px;
}

button{

    display: inline-block;
    padding: 0.5rem 3rem;
    border: 0.16rem solid darkslateblue;
    margin: 0 0.3rem 0 0.3rem;
    text-transform: uppercase;
    color: darkslateblue;
    text-align: center;
    transition: all 0.2s;
    border-radius: 0.5rem;
}

button:hover{
    color: white;
    background-color: darkslateblue;
}